// This SCSS styles will be compiled into the CSS bundle automatically.

/*! purgecss start ignore */

/*! PUT YOU STYLE HERE TO AVOID GETTING REMOVING BY PURGECSS. */
$hb-module-prefix: "hb-";

//设置隐藏comment图块
.#{$hb-module-prefix}docs-doc-comments {
  &.#{$hb-module-prefix}module {
    display: none; // 或者使用其他属性来隐藏元素
  }
}

.#{$hb-module-prefix}module {
  margin-bottom: 0;
  margin-left: -5px;
  // 或者
  // margin: 0;
}

.hb-docs-doc-content.hb-module {
  padding-left: 25px;
  padding-right: 25px;
}

//设置代码块背景颜色
.chroma {
  background-color: #e8e8e8;
  max-height: 5000px;
}

// 设置代码块最大高度
.highlight pre {
  max-height: 5000px;
  overflow: auto;
  padding: 1rem 0.5rem;
}

pre code {
  // color: #212529;
}

.navbar-brand {
  font-family: Agbalumo, serif;
}
/*! purgecss end ignore */

:root {
  --hb-body-line-height: 1.7;
}

// 设置markdown多级标题字体样式
h1,
.h1 {
  font-size: 2.1rem;
  font-weight: 550;
}

h1,
.h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2,
.h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3,
.h3 {
  display: block;
  font-size: 1.2em;
  // margin-top: 1em;
  // margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4,
.h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5,
.h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6,
.h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

// p {
//   margin-bottom: 0.5rem;
// }
